<%= form_for(@wish_list) do |f| %>
  <% if @wish_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wish_list.errors.count, "error") %> prohibited this wish_list from being saved:</h2>

      <ul>
      <% @wish_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="container">
 <div class="panel-body">
  <center>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ISBN %><br>
    <%= f.text_field :ISBN %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  </center>
  </div>
  <div class="actions">
    <center>
    <%= f.submit %>
  </div>
<% end %>
</div>




