<%= render 'layouts/navigation' %>
<% found = false %>
<% @wish_list.each do |wishList| %>
  <% @book.each do |book| %>
    <% if (wishList.ISBN == book.ISBN) %>
      <% found = true %>
      <div class="panel panel-info">
        <div class="panel-heading">
         <center> <h3 class="panel-title">Book Information </h3></center>
        </div>
      <div class="panel-body">
        <center>
	        Title: - <%= book.name %> <br>
          ISBN Number: - <%= book.ISBN %> <br>
					<br>
          <%= link_to "Show Book", wish_list_path(book), class: "btn btn-primary btn-sm"%>
       
        </center>
			</div>
    </div>
    <% end %>
  <% end %>
<% end %>

<% if (!found) %>
<center>
  <h2>
     Sorry There are no books available from your WishList.
  </h2>
  
  </center>
<% end %>
<center><%= link_to "Back", wish_lists_path, class: "btn btn-primary btn-sm"%></center>

