<p id="notice"><%= notice %></p>

<h1>Listing Wish Lists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Isbn</th>
      <th>Price</th>
      <th>Stock</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wish_lists.each do |wish_list| %>
      <tr>
        <td><%= wish_list.name %></td>
        <td><%= wish_list.ISBN %></td>
        <td><%= wish_list.price %></td>
        <td><%= wish_list.stock %></td>
        <td><%= link_to 'Show', wish_list %></td>
        <td><%= link_to 'Edit', edit_wish_list_path(wish_list) %></td>
        <td><%= link_to 'Destroy', wish_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wish list', new_wish_list_path %>
