<%= render 'layouts/navigation' %>
<div>
	<div class="container">
		<div id="error">
      <%= render 'layouts/messages' %>
    </div>
	<div id="background">
		<div class="panel panel-default">
      <div class="panel-heading">
       <center> <h3 class="panel-title">Book Information</h3></center>
      </div>
    <div class="panel-body">
      <center>
      Title: - <%= @wish_list.name %> <br>
      ISBN Number: - <%= @wish_list.ISBN %> <br>
	  Price: - <%= @wish_list.price %> <br>
      </center>
    </div>
</div>
		<p id="match"></p>
		<p>
		  <center>
      <%= link_to 'Edit Book', edit_wish_list_path, class: "btn btn-primary btn-sm" %>
      <%= link_to 'Back', wish_lists_path, class: "btn btn-primary btn-sm" %>
      </center>
		</p>
		<br>
		<br>
		<br>
		<br>
</div>
</div>
</div>
<%= render 'layouts/footer' %>

