<div class="container">
  <center>
<h1> Listing Users </h1>


<table>
  <tr class>
    <th class="table"> User Id </th>
    <th class="table"> First Name </th>
    <th class="table"> Last Name </th>
    <th class="table"> Username </th>
    <th class="table"> Email </th>
    <th class="table"> Delete the User </th>
  <% @user.each { |element| %>
  <% if (element.is_admin === "false") %>
    <tr>
      <td class="table"> <%= element[:id] %></td>
      <td class="table"> <%= element[:first_name] %> </td>
      <td class="table"> <%= element[:last_name] %> </td>
      <td class="table"> <%= element[:username] %> </td>
      <td class="table"> <%= element[:email] %> </td>
      <td class="table"> <%= link_to "Delete", user_path(element), method: :delete %></td>
    </tr>
  <% end %>
    
  <% } %>
</table>
<br>
<br>
<%= link_to 'Home Page', root_path , class: "btn btn-primary btn-sm" %>
<%= link_to 'Log Out', logout_path, method: :delete, class: "btn btn-primary btn-sm" %>
</center>
</div>