<%= render 'layouts/navigation' %>
<div>
	<div class="container">
		<div id="error">
      <%= render 'layouts/messages' %>
    </div>
	<div id="background">
		<div class="panel panel-default">
      <div class="panel-heading">
       <center> <h3 class="panel-title">User Information</h3></center>
      </div>
    <div class="panel-body">
      <center>
			<% if @user.image_file_name != nil%>
				<%= image_tag @user.image.url(:thumb),class:"img-circle"%><br>
			<%else%>
				<%= image_tag "profile.jpg",class:"img-circle image" %><br>
<!-- 				<img class="img-circle" asset-src="homepage.jpg"> -->
			<%end%>
      First Name: - <%= @user.first_name %> <br>
      Last name: - <%= @user.last_name %> <br>
      Username: - <%= @user.username %> <br>
      Email: - <%= @user.email %> <br>
      </center>
    </div>
</div>
		<p id="match"></p>
		<p>
		  <center>
      <%= link_to 'Edit Details', edit_user_path, class: "btn btn-primary btn-sm" %>
      </center>
		</p>
		<br>
		<br>
		<br>
		<br>
</div>
</div>
</div>
<%= render 'layouts/footer' %>
