<%= render 'layouts/navigation' %>
<% if (!logged_in?)%>
<div id ="body">
	<div id="error">
  <%= render 'layouts/messages' %>
</div>
	<div class="container">
	<div id="background">
		<% if (logged_in?) %>
			<h1>Welcome to BookHub</h1>
		<% else %>
			<h1>BookHub</h1>
			<h3>The right book will always keep you company</h3>
		<% end %>
		<p id="match"></p>
		<p>
		<%= link_to 'Explore Books', books_path, class: "btn btn-primary btn-lg" %>
		<% if (logged_in? && current_user.is_admin === "true") %>
      	<%= link_to 'Database', users_path, class: "btn btn-primary btn-lg" %>
    <%end%>
		</p>
		<br>
		<br>
		<br>
		<br>
		<br>
</div>
</div>
</div>
<%else%>
	<h3 align="center">
		<%= current_user.first_name + " " + current_user.last_name%>
</h3>
<div align="center">
	<% if current_user.image_file_name != nil%>
		<%= image_tag current_user.image.url(:large),class:"img-circle"%><br>
	<%else%>
		<%= image_tag "profile.jpg",class:"img-circle image1" %><br>
	<%end%>
</div>
<h2 align="center">
	Books posted by you: -
</h2>
<p id="match1"></p>
<%= render "book",obj: current_user.books %>
<%end%>
<%= render 'layouts/footer' %>
