<%= render 'layouts/navigation' %>
<br>
<br>
<br>
<div class="container">
<div class="panel panel-default">
  <div class="panel-heading"><center>Buyer Information: -</center></div>
  <div class="panel-body">
    <center>
      <h4>
         You can email user at: -  <%= @book.user.email %>
      </h4>
      <% if(@book.user.phone_number != nil) %>
      <h4>
        Or<br>
         You can text user at  - <%= @book.user.phone_number %>
      </h4>
      *User prefers text communication to calls<br><br>
    <% end %>
      Direct Links to<br>
      <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=<%=@book.user.email%>&su=Re:Interested in the book&body=Hey I am interested in the book named <%=@book.name%> posted on BookHub." class="btn btn-default btn-sm"><div class=img1></div></a>
      <a href="https://mail.yahoo.com/neo/launch?action=compose&view=cm&fs=1&to=<%=@book.user.email%>&su=Re:Interested in the book&body=Hey I am interested in the book named090454#4056966699" class="btn btn-default btn-sm"><div class=img2></div></a>
      <a href="https://outlook.live.com/owa/default.aspx?to=<%=@book.user.email%>&subject=Re:Interested in the book&body=Hey I am interested in the book named <%=@book.name%> posted on BookHub.%0a&path=/mail/action/compose" class="btn btn-default btn-sm"><div class=img3></div></a>
      <a href="https://connect.sfu.ca/" class="btn btn-default btn-sm"><div class=img4></div></a>
    </center>
  </div>
</div>
 </div>
