<%= render 'layouts/navigation' %>
<div class="container">
  <div id="error">
  <%= render 'layouts/messages' %>
</div>
<% if (@book.errors.any?) %>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h2 class="panel-title">
						<%= pluralize(@book.errors.count, "error") %>
						prevented you from editing the information of the book
					</h2>
					<div class="panel-body">
						<ul>
							<% @book.errors.full_messages.each do |msg|  %>
 						  <li> <%= msg %> </li>
  						 <% end %>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>




<%= form_for @book, :html => {class: "form-horizontal", role: "form"} do |f| %>
<div class="mysignup1">
	<div class="panel panel-default">
  		<div class="panel-heading">
    		<h3 class="panel-title">Add a New Book</h3>
  		</div>
  		<div class="panel-body">
    		<form class="form-horizontal">
          <div class="form-group">
            <div class="control-label col-sm-2">
            <%= f.label :Book_Name %>
            </div>
          <div class="col-sm-10">
            <%= f.text_field :name, class: "form-control", id: "inputText3", placeholder: "Title of the Book", autofocus: true %>
            <!--<input type="text" class="form-control" id="inputText3" placeholder="First Name">-->
          </div>
      </div>
       <div class="form-group">
         <div class="control-label col-sm-2">
         <%= f.label :isbn_no, "ISBN No."%>
         </div>
        <!--<label for="inputText3" class="col-sm-2 control-label">Last Name</label>-->
          <div class="col-sm-10">
            <%= f.text_field :ISBN, class: "form-control", id: "inputText3", placeholder: "ISBN Number of the book", autofocus: true %>
              <!--<input type="text" class="form-control" id="inputText3" placeholder="Last Name">-->
          </div>
      </div>
      <div class="form-group">
        <div class="control-label col-sm-2">
        <%= f.label :Author %>
        </div>
        <!--<label for="inputText3" class="col-sm-2 control-label">User Name</label>-->
          <div class="col-sm-10">
            <%= f.text_field :author, class: "form-control", id: "inputText3", placeholder: "Author", autofocus: true %>
              <!--<input type="text" class="form-control" id="inputText3" placeholder="Username">-->
          </div>
      </div>
  </div>
 <!--  <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Confirm Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div> -->
  <!-- <div class="form-group">
        <label for="inputText3" class="col-sm-2 control-label">Contact</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="inputText3" placeholder="Contact Number">
          </div>
      </div> -->
  <!-- <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div> -->
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Update!", class: 'btn btn-default' %>
      <!--<button type="submit" class="btn btn-default">Sign Up</button>-->
    </div>
  </div>
<%end%>
<!--</div>-->
  		<div class="panel-footer">
  			Want to view Books!<br><br>
  			<%= link_to "View Books", books_path , class: 'btn btn-primary btn-sm' %>
  			<!--<a href="login.html"><button type="button" class="btn btn-primary btn-sm">SignIn Now</button></a>-->
  		</div>
	</div>
</div>
</div>
<br>
<br>
<br>
<%= render 'layouts/footer' %>

