
<%= render 'layouts/navigation' %>
<div>
	<div class="container">
		<div id="error">
      <%= render 'layouts/messages' %>
    </div>
	<div id="background">
		<div class="panel panel-default">
      <div class="panel-heading">
       <center> <h3 class="panel-title">Book Information</h3></center>
      </div>
    <div class="panel-body">
      <center>
        <% if @book.image_file_name != nil%>
	      	<%= image_tag @book.image.url(:large),class:"img-thumbnail image2"%><br>
	      <%else%>
		      <%= image_tag "preview.jpg",class:"img-thumbnail image2" %><br>
	      <%end%>
      Title: - <%= @book.name %> <br>
      ISBN Number: - <%= @book.ISBN %> <br>
      Author: - <%= @book.author %> <br>
			Price: - <%= @book.price %> <br>
			Availability: - <%= @book.availability %> <br>
			Description: - <%= @book.description %> <br>
      </center>
    </div>
</div>
		<p id="match"></p>
		<p>
		  <center>
      <%= link_to 'Edit Book', edit_book_path, class: "btn btn-primary btn-sm" %>
      <%= link_to 'List All Books', books_path, class: "btn btn-primary btn-sm" %>
      </center>
		</p>
		<br>
		<br>
		<br>
		<br>
</div>
</div>
</div>
